<div class="row">
    <div class="col">
    <!-- Por cada servidor crearemos una tarjeta con el nombre y
   el
    estado del servidor-->
    <a href="#" class="card mt-2" *ngFor="let item of Servers;let i=index"
    [routerLink]="['/servers', i, ]" [queryParams]="{allowEdit: '1'}"
    fragment="loading">
    
    <div class="card-header">{{item.name}}</div>
    <div class="card-body">
    <h5 class="card-title">Server status</h5>
    <p class="card-text">{{item.status}}</p>
        </div>
</a>
<router-outlet></router-outlet>
    </div>
    </div>