<div *ngIf="countries">
    <div class="border-right p-3" id="sidebar">
        <h3>
            Por País
        </h3>
    
        <hr/>
        <!-- Llamamos al componente y le ponemos como parametro el evento para que llame al output -->
       <app-busqueda (paisEvento)="buscaPais($event)"></app-busqueda>
        <div class="list-group list-reset">
            <div class="alert alert-danger" *ngIf="error">
                No se encontró nada con el término {{textError}}
            </div>
            <app-tabla [countries]="countries"></app-tabla>
        </div>
    </div>
</div>


